# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
debug.log*
log/
logs/
*.gz

# Build files
dist/
build/
.out/
.next/

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Babel & ESLint
.cache/
.eslintcache
.parcel-cache/

# TypeScript
*.tsbuildinfo

# MongoDB
dump/
*.seed
*.bak

# Testing
coverage/
jest/
jest-cache/
jest-stare/
*.test.js
*.test.ts
*.spec.js
*.spec.ts
cypress/screenshots/
cypress/videos/

# React specific
public/*.cache
public/*.map

# Docker
docker-compose.override.yml
.dockerignore

# Misc
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.code-workspace
